@import "compass/css3";
@import "compass/utilities/general/clearfix";

@import "icons/*.png";
@include all-icons-sprites;

//@import "icon-fonts";

/* selectors from default h5bp */

nav,
article,
aside,
footer,
header,
section,
div {
  display: block;
  @include box-sizing(border-box);
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #333;
}

html {
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  background-color: #333;
}

a {
  text-decoration: none;
  color: #333;
  @include border-radius(5px);
  @include box-shadow(rgba(#000, 0.1) 0 1px 5px);

  &:link {
    @include background-image(linear-gradient(rgba(#fff,1), rgba(#f9f9f9,1)));
  }

  &:visited {
    color: #999;
  }

  &:focus {
    outline: thin dotted;
  }

  &:active,
  &:hover {
    background-color: rgba(#33B4E4, 0.2);
    outline: 0;
    color: #000;
    @include background-image(none);
    @include box-shadow(none);
  }
}

p,
h1,
h2 {
  margin: 0;
  font-size: 1rem;
}

img {
    border: 0; /* 1 */
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

button,
input,
select,
textarea {
    font-size: 1rem; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

::-moz-selection,
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* custom selectors */

/* main sections in the page */

#geolocation,
#legislator,
#quote,
#contact,
#credit {
  width: 100%;
  padding: 1rem;
  @include clearfix;
}

/* first section: geolcation */

#geolocation {
  padding-right: 0;
	background-color: #fff;
  border-bottom: 3px solid #33B4E4;
  position: relative;
  @include box-shadow(#000 0 0 12px);

  p {
    display: block;
    margin: 0 3rem 0 1.5rem;
    padding-right: 0.5rem;
    border-right: 1px #ccc solid;
  }

  .manual {
    padding: 1rem;
    width: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    background-image: none;
    @include box-shadow(none); 
  }

  .screen-reader-text {
    color: transparent;
    white-space: nowrap;
  }
}

/* second section: legislator */

#legislator {
  font-weight: bold;
  position: relative;

  &.kmt {
    color: #fff;
    background-color: #0D2393;
  }

  &.dpp {
    color: #fff;
    background-color: #009B00;
  }

  &.gp {
    color: #333;
    background-color: #FFE401;
  }
}

.photo {
  max-width: 5.4rem;
  height: auto;
  float: left;
  margin-right: 1rem;
  border: 1px solid #fff;
}

.legislator {
  @include clearfix;

  h1 {
    font-size: 1.2rem;
  }

  .party {
    position: absolute;
    right: 1rem;
    top: 0.9rem;
    width: 24px;
    height: 24px;
    color: transparent;
    white-space: nowrap;
  }
}

.standpoint {
  margin: 1rem 0 0 6.4rem;
  padding: .6rem 0;
  border: 1px solid #fff;
  @include box-sizing(border-box);

  &.nuke {
    color: red;
    @include background-image(linear-gradient(#000, #660000));
  }

  &.no-nuke {
    color: white;
    @include background-image(linear-gradient(#ddff99, #006600));
  }

  p {
    font-size: 2rem;
    width: 100%;
    letter-spacing: 1rem;
    text-align: center;
    text-indent: 1rem;
  }
}

/* third section: quote */

#quote {
  position: relative;
  overflow: visible;
  background-color: #FFF;

  &::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 3.2rem;
    width: 0;
    height: 0;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid #FFF;
    border-left: 0.5rem solid transparent;
  }

  .stamp {
    font-weight: bold;
    font-size: 1.2rem;
    padding:.2rem;
    display: inline-block;
    position: absolute;
    right: 1rem;
    @include border-radius(5px);
    @include transform(rotate(5deg));
  }

  .unfavorable {
    color: #B20000;
    border: 3px #B20000 solid;
  }

  .friendly {
    color: #00B200;
    border: 3px #00B200 solid;
  }

  p:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

/* fourth section: contact info */

#contact {
  @include background-image(linear-gradient(#e9e9e9, #f9f9f9));
}

ul {
  margin: .5rem 0;
  padding: 0;
}

li {
  @include clearfix;
  list-style:none;

  .contact{
    padding: 0.5rem 0;
    display: block;
    width: 2.5rem;
    float: left;
  }

  .data {
    display: block; 
    margin-left: 2.5rem;
  }

  a,
  .no-link {
    display: inline-block;
    padding: 0.4rem;
    margin: 0.1rem;
    position: relative;
  }

  .address {
    display: block;
    margin-right: 1.5rem;
  }
}

/* last section: g0v.tw support*/

#credit {
  background-color: #000;
  padding: 0 1rem;

  a {
    padding: 0.5rem;
    float: right;
    background: none;
  }

  .credit {
    max-width: 2rem;
    max-height: 2rem;
  }
}

/* icon fonts*/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-loop, .icon-loop-2, .icon-spinner, .icon-map, .icon-location, .icon-phone, .icon-search, .icon-target, .icon-checkmark, .icon-pencil {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 0.9rem;
}

.icon-loop:after {
  content: "\e000";
}
.icon-loop-2:before {
  content: "\e001";
}
.icon-spinner:before {
  content: "\e002";
}
.icon-map:before {
  content: "\e003";
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.icon-location:before {
  content: "\e004";
}
.icon-phone:before {
  content: "\e005";
  margin-left: 0.5rem;
}
.icon-search:before {
  content: "\e006";
}
.icon-target:before {
  content: "\e007";
  color: #999;
  float: left;
  width: 1rem;
}
.icon-checkmark:before {
  content: "\e008";
}
.icon-pencil:before {
  content: "\e009";
}

/* for tablet and desktop */

@media only screen and (min-width: 481px) {
}

